/******** Estilos Globais ***********/

/************ Mini reset CSS *************/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: white;
}
main {
    width: 650px;
    margin: 20px auto;

    background-color: rgba(231,231,229,255);
    text-align: center;
}

header {
    margin: auto;
    padding: 20px;
}

section.teas  {
    padding: 20px;
}

section.teas > h1 {
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 40px;
}


section.tea-types {
    display: flex;
    gap: 15px;

}

article.tea {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;

}

article.tea > * {
    flex: 1;
    gap: 5px;

}
article.tea h2 {
    font-size: 0.8em;
    padding-top: 20px;
}

article.tea h1 {
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

a.btn {
    display: inline-block;
    padding: 0.6em 0.8em;
    margin: 10px;
    background-color: rgb(19, 18, 18);
    color: white;
    text-decoration: none;
    flex: 0;

}

section.promo {
    border-top: 2px solid gray;
    margin-top: 50px;
    padding: 35px 0;
}


footer {
    width: 650px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-top: 2px solid gray;
    
}
footer ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

    
}
footer ul li {

    flex: 1;

    
}
