* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  }

  body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin: ;
  }
  
  header {
      padding: 0.7em;
      background-color: rgb(126, 217, 187);

  }

  header > nav {
      color: white;
      font-weight: 900;

  }


  nav > ul {
  list-style: none;
  display: flex;
  align-items: center;

  }

  nav > ul li {
     padding: 10px;

  }

  nav > ul li.contact {
      margin-left: auto;

  }


  .destaque {
      height: 350px;
      background-image: url(../images/landing-page-banner.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: bisque;
      padding: 3rem 3rem;
      color: #ffffff;
      margin: 20px 20px;
      border-radius: 0.6rem;
  }
  
  .destaque h1 {
      font-weight:50;
      font-size: 3rem;
  }

  .destaque p {
      width: 70%;
      margin-top: 20px;
  }

  .destaque a {
      text-decoration: none;
      padding: 10px 15px;
      color: #fff;
      display: inline-block;
      border: 1px solid white;
      border-radius: 0.6rem;
      font-size: 1rem;
      margin-top: 20px;
  }

  section.articles {
      display: flex;
      gap: 15px;
      margin: 20px 20px;

  }

  section > article  {

      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex: 1;
      align-items: center;


  }
  section > article p {
    color: #b0afaf;
      font-size: 0.8em;


}
  section > article a {
      text-decoration: none;
      padding: 5px 15px;
      color: rgb(126, 217, 187);
      display: inline-block;
      border: 2px solid rgb(126, 217, 187);
      border-radius: 0.6rem;
      font-size: 1rem;
      margin-top: 10px;
      margin-bottom: 10px;


  }
  footer {
      background-color: rgb(61, 60, 60);
      padding: 20px 20px;
      color: #b0afaf;
      font-size: 0.7em;
      display: flex;
      align-items: center;

  }
  footer > nav.media{
      margin-left: auto;
  }